{% load static %}
<!DOCTYPE HTML>

<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>春來土木包工業</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href= "{% static 'assets/css/main.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner">
					<h1>Chunlaitumu</h1>
					<p>春來土木包工業</p>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h2>承攬項目</h2>
					</section>
			    
				<!-- Items -->
					<section class="main items">
						<article class="item">
							<header>
								<a href="#"><img src="{% static 'images/excavator.jpg' %}" alt="" /></a>
								<h3>挖方工程</h3>
							</header>
							<p> 1. 土地整地 </p>
							<p> 2. 水溝清淤 </p>
							<p> 3. 拆除工程 </p>
							<p> 4. 其餘機械挖方工程</p>
							<!--
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						    -->
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="{%static 'images/muoban.jpg' %}" alt="" /></a>
								<h3>模板工程</h3>
							</header>
							<p> 1. 水利模板工程 </p>
							<p> 2. 擋土牆模板工程 </p>
							<p> 3. 其餘模板工程</p>
							<!--
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
							-->
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="{%static 'images/steel.jpg' %}" alt="" /></a>
								<h3>鋼筋混凝土工程</h3>
							</header>
							<p>1. 鋼筋組立工程 </p>
							<p>2. 混凝土灌漿工程 </p>

						</article>
						<article class="item">
							<header>
								<a href="#"><img src="{%static 'images/pic04.jpg' %}" alt="" /></a>
								<h3>其餘土木整修工程</h3>
							</header>
							<p> 1. 防漏防水工程 </p>
							<p> 2. 鐵皮工程 </p>
							<p> 3. 土水工程</p>
						</article>
					</section>
					

				<!-- CTA 
					<section id="cta" class="main special">
						<h2>Etiam veroeros lorem</h2>
						<p>Phasellus ac augue ac magna auctor tempus proin<br />
						accumsan lacus a nibh commodo in pellentesque dui<br />
						in hac habitasse platea dictumst.</p>
						<ul class="actions">
							<li><a href="#" class="button big">Get Started</a></li>
						</ul>
					</section>
				-->
				<!-- Main -->
				<!--
					<section id="main" class="main">
						<header>
							<h2>Lorem ipsum dolor</h2>
						</header>
						<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					</section>
				-->

				<!-- Footer -->	
				<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h2>聯絡資訊</h2>
						<h3>春來土木包工業</h3>
						<p>聯絡人：張春來&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp聯絡人：張盛智</p>
						<p>電話：0936957752&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp電話：0988602681</p>
						<p>地址：台中市后里區墩西里四村路23號</p>
				</section>
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="mailto:chunlaitumu@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; chunlaitumu</p>
					</footer>
					
			</div>
					

		<!-- Scripts 
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
		-->
	</body>
</html>